@use '../variables';

.infos-bar {
    padding: 16px 24px;
    background-color: variables.$textColor;
    display: flex;
    justify-content: space-between; //faz os items irem pra extrema direita e esquerda

    &__infos {
        display: flex;
        gap: 40px;


        &__item {
            font-size: 14px;
            color: variables.$secondaryTextColor;
            b {
                font-size: 18px;
                display: block; // o "b" vem com display inline naturalmente
                color: variables.$secondaryTextColor;
            }
            
        }
    }

    @media (max-width:640px) {
        display: block;
        border-radius: 8px;
        &__infos {
            display: block;
            
            &__item {
                margin-bottom: 24px;

                b {
                    margin-bottom: 7px;
                }
            }
        }
    }
    
    @media (max-width: 1024px) {
        &__infos {
            gap: 16px;
        }
    }
}