@use 'variables';

.event {
    padding: 80px 0;

    &--frontend{
            background-image: linear-gradient(variables.$gray, variables.$blue);    //degrade muito foda de cores (na vertical)
    }

    &--ux-ui{
            background-image: linear-gradient(variables.$blue, variables.$blue);    //degrade muito foda de cores (na vertical)
    }

    &--data-science{
            background-image: linear-gradient(variables.$blue, variables.$dark-blue);    //degrade muito foda de cores (na vertical)
    }

    &--backend{
            background-image: linear-gradient(variables.$dark-blue, variables.$black);    //degrade muito foda de cores (na vertical)
    }

    &--image-left{
        .container{
            flex-direction: row-reverse;       //invertel para que a imagem venha primeiro (mto foda tbm)
        }
    }

    .container{
        display: flex;
        gap: 40px;
    }

    &__image {
        max-width: 360px;
    }

    &__details{

        b {
            color: black;
        }
        
        &__title{
            margin-bottom: 16px;
            font-size: 18px;
            font-weight: bold;

        }

        &__description{
            font-size: 16px;
            line-height: 22px;

            &--dark{
                color: black;
            }
        }
    }

    @media (max-width:640px) {
        .container {
            display: block;
        }
            &__image {  
            width: 100%;    //a imagem wm 100% fica no tamanho ideal e tira o scroll horizontal
        }
            &__details{
        margin-right: 0;
        margin-bottom: 16px;
    }
    }
}