@use 'variables';

.hero {
    padding-top: 64px;
    padding-bottom: 100px;
    background-image: url(../images/AN_Hunter-x-Hunter.jpg);
    background-repeat: no-repeat; //faz a imagem nao repetir //faz a imagem ocupar o maximo do container
    position: relative; //faz o 'before' funcionar somente no header
    background-size: cover;


    .container {
        position: relative; //para que o container fique por cima do hero e apareça
    }

    &::before { //fundo preto com opacidade
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: variables.$secondaryTextColor;
        content: ''; //é necesario um content (mesmo vazio) 
        opacity: 0.6; //opacidade
    }

    &__text {
        margin-top: 64px;
        margin-bottom: 64px;
        font-size: 40px;
        line-height: 56px;
        font-weight: 800; //negrito
        text-align: center; //centraliza ne 
    }

    &__logo {
        display: block; // foi necessario colocar o display block para centralizar verticalmente
        margin: 0 auto; //centraliza horizontamente
        height: 200px;
        border-radius: 8px;
    }

        @media (max-width:640px) {
            background-image: url(../images/wallpaper-mobile.jpg);
        background-repeat: no-repeat; //faz a imagem nao repetir //faz a imagem ocupar o maximo do container
        background-size: cover;
            padding: 40px 0;
        &__logo {
            border-radius: 10px;
            height: 260px;
        }

        &__text{
            font-size: 22px;
            line-height: 24px;
            margin: 24px 0;
        }
    }
}